<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sidebar">
	<select id="select_produce" resultType="sidebar">
      select name, url
      from sidebar_produce
      order by no
    </select>
    <select id="select_gallery" resultType="sidebar">
      select name, url
      from sidebar_gallery
      order by no
    </select>
    <select id="select_item" resultType="sidebar">
      select name, url
      from sidebar_item
      order by no
    </select>
    <select id="select_picture" resultType="sidebar">
      select name, url
      from sidebar_picture
      order by no
    </select>
    <select id="select_mypage" resultType="sidebar">
    	select name, url
    	from sidebar_mypage
    	order by no
    </select>
</mapper>
