<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
	<!-- 게시판 전체 리스트 출력 -->
	<select id="select_list" parameterType="int" resultType="board">
		select
		bno,title,content,writer,regdate,viewcnt,image,replycnt
		from mellow_board
		where tno =	#{tno}
		<if test="searchType != null">
	    	<if test="searchType == 't'.toString() ">
	        	and title like '%'||#{keyword}||'%'
	    	</if>
	    	<if test="searchType == 'c'.toString()">
	       		and content like '%'||#{keyword}||'%'
	    	</if>
	    	<if test="searchType == 'w'.toString() ">
	        	and writer like '%'||#{keyword}||'%'
	    	</if>
	  </if>  
		order by bno desc
	</select>
	
	<!-- 커뮤니티 타입 검색 -->
	<select id="select_title" parameterType="int" resultType="String">
		select title
		from mellow_communitytype
		where tno = #{tno}
	</select>
	
	<!-- 페이지 검색 -->
	<select id="select_page" parameterType="int" resultType="board">
		select bno, title, content, writer, regdate, viewcnt, image, replycnt
		from mellow_board
		where bno = #{bno}
	</select>
	
	<!-- 리스트카운트 검색 -->
	<select id="listcount" parameterType="int" resultType="int">
		select count(bno)
		from mellow_board
		where tno=#{tno}
	</select>
	
	<!-- 게시판 글 등록 -->
	<insert id="insert">
		insert into	mellow_board(bno,tno,title,content,image,writer)
		values(mellow_board_seq.nextval,#{tno},#{title},#{content},#{image},#{writer})
	</insert>
	
	<!-- 게시판 글 삭제 -->
	<delete id="delete">
		delete from mellow_board
		where bno=#{bno}
	</delete>
	
	<!-- 게시판 글 수정 -->
	<update id="update">
		<!-- 기존 타이틀과 내용에 대한 수정 -->
		update mellow_board set title=#{title} , content=#{content}
		<if test="image != null">
			,image=#{image}
		</if>
		where bno=#{bno}
	</update>
</mapper>
