<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.phoenix.main.domain.SidebarVO" alias="sidebar"/>
		<typeAlias type="com.phoenix.main.domain.PictureVO" alias="picture"/>
		<typeAlias type="com.phoenix.main.domain.ItemVO" alias="item"/>
		<typeAlias type="com.phoenix.main.domain.GalleryVO" alias="gallery"/>
	</typeAliases>
</configuration>
